<div class="card">
    <div class="card-body">
        <h1>Proyecto sacado de FaztWeb</h1>
        <p>Proyecto hecho siguiendo el tutorial del youtuber y creador de contenido <a href="https://www.faztweb.com/">Fazt.</a></p>
        <a class="btn btn-primary btn-large" href="https://github.com/luferino" role="button">GitHub</a>
    </div>
</div>